$colors: (('white', $white), ('lighter', $lighter), ('light', $light), ('lightest', $lightest), ('lighter', $lighter), ('orange-light', $orange-light), ('orange', $orange), ('orange-light', $orange-light), ('orange-lighter', $orange-lighter), ('orange-dark', $orange-dark), ('orange-darker', $orange-darker), ('grey', $grey), ('dark', $dark), ('darkest', $darkest), ('teal', $teal),  ('teal-dark', $teal-dark))

@each $name, $color in $colors
  .has-text-#{$name}
    color: #{$color} !important  
  svg.has-text-#{$name}
    fill: #{$color} !important
  a.has-text-#{$name}
    &:hover,
    &:focus
      color: darken($color, 10%) !important

.content
  p
    margin: 1rem 0
  blockquote
    font-size: 1.25rem
    font-style: italic
    margin-left: 1rem
  h1
    font-size: 2rem
  h2
    font-size: 1.5rem
  h3
    font-size: 1.25rem
  h4, .is-4
    font-size: 1rem

.box-sh
  box-shadow: 0 2px 4px rgba(0,0,0,0.18)
.txt-sh
  text-shadow: 0 1px 2px rgba(0,0,0, 0.20)
