.ml1
  margin-left: 1rem
.ml2
  margin-left: 2rem
.ml3
  margin-left: 3rem
.ml4
  margin-left: 4rem

.mr1
  margin-left: 1rem
.mr2
  margin-left: 2rem
.mr3
  margin-left: 3rem
.mr4
  margin-left: 4rem

.content
  p
    margin: 1rem 0
  blockquote
    font-size: 1.25rem
    font-style: italic
    margin-left: 1rem
  h1
    font-size: 2rem
    font-weight: bold
  h2
    font-size: 1.5rem
    font-weight: bold
  h3
    font-size: 1.25rem
    font-weight: bold
  h4
    font-size: 1rem
    font-weight: bold

.is-section
  padding: 6rem 0

.title
  font-size: 2.5rem
  font-weight: bold
  margin-bottom: .75rem
  color: $darker
.subtitle
  font-size: 1.25rem

$btn-p: $teal
$btn-a: $orange

.btn
  padding: .6rem 1.25rem
  border-radius: 3px
  background-color: $lightest
  color: $grey
  transition: all .3s ease
  font-weight: bold
  &:hover
    background-color: $light
  &.btn-lg
    font-size: 1.25rem
  &.btn-p
    color: white
    border-color: $btn-p
    background-color: $btn-p
    &:hover
      background-color: darken($btn-p, 15%)
  &.btn-a
    color: white
    border-color: $btn-a
    background-color: $btn-a
    &:hover
      background-color: darken($btn-a, 15%)


.box-sh
  box-shadow: 0 2px 4px rgba(0,0,0,0.18)
.txt-sh
  text-shadow: 0 1px 2px rgba(0,0,0, 0.20)
